
a{
  display: block;
  padding: 10px;
}

a img {
    display: none;
    margin-left: 100px;
    margin-top: -20px;
    width:80px;
    height:50px;
}
a:hover img {
  position:absolute;
    display: block;
    left:0;
}